<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
# return that file
</IfModule>

# Disable directory browsing:
Options All -Indexes
# Prevent folder listing:
IndexIgnore *