{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form class="form-change-password col-md-5 offset-3" action="{{ generate_url('password') }}" method="post" autocomplete="off">

        {% if error is not null %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if success is not null %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        <label for="password" class="sr-only">Current password</label>
        <input autocomplete="off" type="password" name="password" id="password" class="form-control" placeholder="Current password" required="">

        <label for="new_password" class="sr-only">New password</label>
        <input autocomplete="off" type="password" name="new_password" id="new_password" class="form-control" placeholder="New password" required="">

        <label for="repeat_password" class="sr-only">Repeat new password</label>
        <input autocomplete="off" type="password" name="repeat_password" id="repeat_password" class="form-control" placeholder="Repeat new password" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
{% endblock %}