{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<form action="{{ generate_url('upload_logo') }}" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
</form>
{% endblock %}